body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background: linear-gradient(157.72deg, #15152D 14.53%, #FFA3A3 116.87%);
  color: #343434;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
